<div id="searchStyle">

  <!-- frame filter -->
  <div class="row">
    <div class="col-xs-10">
      <input id="nameExerciseFilter" type="text" ng-model="frameFilter"
             class="form-control" placeholder='Busca un frame específico (p.ej., "Con gorro")' />
    </div>
    <div class="col-xs-2">
      <button ng-click="searchJSON()" class="w3-btn w3-tag w3-theme-action" id="filterButton">Buscar</button>
    </div>
  </div>


  <div class="divider"></div>

  <p ng-if="!success">Lo sentimos, no se ha encontrado ningún resultado :(</p>


  <div ng-if="success">
    <img class="img-responsive" ng-src="{{'../../images/' + $parent.imgName + '.png'}}"/>
  </div>

</div>
