<div id="starterStyle">
  <div class="container-fluid">

    <div class="initGap"></div>

    <!-- load & filter section -->
    <div class="col-sm-6" style="padding:2%">
      <!-- load section -->
      <div class="col-xs-12">
        <div class="mL-card" style="height: 70px">


        </div>
      </div><!-- END: load section -->

      <!-- filters section -->
      <div class="col-xs-12 mL-card">

        <h1 class="text-center">Diviértete mezclando filtros</h1>

        <div id="filters" class="w3-theme-l4">
          <div class="row">

            <div class="checkbox col-md-4 col-xs-6" style="margin:0">
              <label><input type="checkbox" ng-model="whiteBlack">Blanco y negro</label>
            </div>
            <div class="checkbox col-md-4 col-xs-6" style="margin:0">
              <label><input type="checkbox" ng-model="sepia">Sepia</label>
            </div>
            <div class="checkbox col-md-4 col-xs-6" style="margin:0">
              <label class="customDisabled"><input type="checkbox" ng-model="vignette" disabled>Viñeta*</label>
            </div>
            <div class="checkbox col-md-4 col-xs-6" style="margin:0">
              <label><input type="checkbox" ng-model="jazzy">Llamativo</label>
            </div>

          </div>
        </div>

        <p id="filtersFooter" class="mL-text-small">
          <span style="float:left">Acerca de nuestros <a href="" class="w3-link">filtros</a></span>
          <span style="float:right">*Solo para versión <a href="" class="w3-link">PRO</a></span>
        </p>

      </div><!-- END: filters section -->

    </div><!-- END: load & filter section -->

    <!-- variable section -->
    <div class="col-sm-6" style="padding:5%">
        <div class="mL-card text-center">

          <!-- FIRST VIEW SECTION -->
          <div ng-if="firstView">
            <button class="w3-btn w3-tag w3-theme-action"
                    id="sendFilters" ng-click="sendFilters()">Aplicar filtros</button>

            <p class="mL-text-small" style="margin-bottom: 0">¿Quieres ver los resultados más rápido?</p>
            <p class="mL-text-small" style="margin-bottom: 0">Prueba nuestra versión <a href="" class="w3-link">PRO</a></p>
            </br>
          </div><!-- END: FIRST VIEW SECTION -->


          <div ng-if="secondView">
            <p>Por favor, espera mientras procesamos el vídeo...</p>
            <div class="loader"></div>
          </div>


        </div>
    </div><!-- END: variable section -->
  </div>
</div>
