#starterStyle .mL-card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  background-color: #ffffff;
  border-radius: 3px;
}

#starterStyle #filters{
  padding: 5%;
  border-radius: 5px;
}

#starterStyle #filtersFooter {
  margin-top: 3%;
}

#starterStyle #sendFilters {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 700;
}
